<div class="container">
    <section id="categories">
        <div class="container categories__container">
            <h1 class="title">CATEGORIES</h1>
            <div class="categories">
                <div class="category">
                    <a href="/category" value="1">
                        <div class="img__container">
                            <img src="img/american_decorative_arts.jpg" alt="American Decorative Arts">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>American Decorative Arts</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="3">
                        <div class="img__container">
                            <img src="img/ancient_near_eastern_art.jpeg" alt="Ancient Near Eastern Art" value="3">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Ancient Near Eastern Art</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="4">
                        <div class="img__container">
                            <img src="img/arms_and_armor.jpg" alt="Arms and Armor">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Arms and Armor</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="5">
                        <div class="img__container">
                            <img src="img/arts_of_africa_oceania_americas.jpg" alt="Arts of Africa, Oceania, and the Americas">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Arts of Africa, Oceania, and the Americas</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="6">
                        <div class="img__container">
                            <img src="img/asian_art.jpg" alt="Asian Art">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Asian Art</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="7">
                        <div class="img__container">
                            <img src="img/cloisters.jpg" alt="The Cloisters">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>The Cloisters</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="8">
                        <div class="img__container">
                            <img src="img/costume_institute.jpg" alt="The Costume Institute">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>The Costume Institute</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="9">
                        <div class="img__container">
                            <img src="img/drawings_and_prints.jpg" alt="Drawings and Prints">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Drawings and Prints</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="10">
                        <div class="img__container">
                            <img src="img/egyptian_art.jpg" alt="Egyptian Art">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Egyptian Art</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="11">
                        <div class="img__container">
                            <img src="img/european_paintings.jpg" alt="European Paintings">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>European Paintings</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="12">
                        <div class="img__container">
                            <img src="img/european_sculpture_decorative_arts.jpg" alt="European Sculpture and Decorative Arts">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>European Sculpture and Decorative Arts</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="13">
                        <div class="img__container">
                            <img src="img/greek_roman_art.jpg" alt="Greek and Roman Art">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Greek and Roman Art</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="14">
                        <div class="img__container">
                            <img src="img/islamic_art.jpg" alt="Islamic Art">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Islamic Art</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="15">
                        <div class="img__container">
                            <img src="img/robert_lehman_collection.jpg" alt="The Robert Lehman Collection">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>The Robert Lehman Collection</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="16">
                        <div class="img__container">
                            <img src="img/libraries.jpg" alt="The Libraries">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>The Libraries</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="17">
                        <div class="img__container">
                            <img src="img/medieval_art.jpg" alt="Medieval Art">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Medieval Art</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="18">
                        <div class="img__container">
                            <img src="img/musical_intruments.jpg" alt="Musical Instruments">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Musical Instruments</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="19">
                        <div class="img__container">
                            <img src="img/photographs.jpg" alt="Photographs">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Photographs</h3>
                    </div>
                </div>
                <div class="category">
                    <a href="/category" value="21">
                        <div class="img__container">
                            <img src="img/modern_art.jpg" alt="Modern Art">
                        </div>
                    </a>
                    <div class="category__overview">
                        <h3>Modern Art</h3>
                    </div>
            </div>
            </div>

        </div>
    </section>
</div>
</div>

<script src="js/load.js" type="module" defer></script>
<script src="js/categories.js" type="module" defer></script>