<div class="container main__container">
    <section class="section__slider">
        <div class="swiper__container">
            <div class="swiper--wrapper">
                    <div class="swiper-slide-block">
                        <div class="swiper-slide-block-favorite-img slider">
                            <span class="slider-control-prev" role="button">
                                <i class="fa-solid fa-chevron-left"></i>
                            </span>
                            <div class="slider-item active"><a href="https://images.metmuseum.org/CRDImages/as/original/DP251139.jpg" data-lightbox="roadtrip"> <img src="https://images.metmuseum.org/CRDImages/as/original/DP251139.jpg" alt=""></a></div>
                            <div class="slider-item"><a href="https://images.metmuseum.org/CRDImages/as/original/DP251138.jpg" data-lightbox="roadtrip"> <img src="https://images.metmuseum.org/CRDImages/as/original/DP251138.jpg" alt=""></a></div>
                            <div class="slider-item"><a href="https://images.metmuseum.org/CRDImages/as/original/DP251120.jpg" data-lightbox="roadtrip"> <img src="https://images.metmuseum.org/CRDImages/as/original/DP251120.jpg" alt=""></a></div>
                            <span class="slider-control-next" role="button">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>

                            <ol class="slide-indicators">
                                <li class="slide-indicator"></li>
                                <li class="slide-indicator"></li>
                                <li class="slide-indicator"></li>
                            </ol>
                        </div>
                        <div class="swiper-slide-block-favorite-text">
                            <div class="title__container">
                                <h2 class="main--title tac">"Battle Between Iranians and Turanians", Folio from a Shahnama (Book of Kings) Battle Between Iranians and Turanians", Folio from a Shahnama (Book of Kings) Battle Between Iranians and Turanians", Folio from a Shahnama (Book of Kings)</h2>
                            </div>
                            <h3 class="main--artist tae">Kiyohara Yukinobu <span class="dates">(1643 - 1682)</span></h3>
                            <p class="main--period"><span class="label">Period</span>: Edo period (1615-1868)</p>
                            <p class="main--culture"><span class="label">Culture</span>: Japan</p>
                            <p class="main--medium"><span class="label">Medium:</span> Hanging scroll; ink and color on silk</p>
                            <p class="main--dimensions"><span class="label">Dimensions:</span> 46 5/8 x 18 3/4 in. (118.4 x 47.6 cm)</p>
                            <p class="main--classification"><span class="label">Classification:</span> Paintings</p>
                            <p class="main--repository tae"><span class="label">Repository: </span> Metropolitan Museum of Art, New York, NY</p>
                            <p class="main--department tae"><span class="label">Department:</span> <a href="" target="_blank""> Asian Art</a></p>
                            <p class="main--obj"><a href="https://www.metmuseum.org/art/collection/search/45734" target="_blank">More Info</a><hr> </p>
                            <form action="/favorites" method="post">
                                <button type="submit" id="submit__btn"><i class="fa-regular fa-heart"></i></button>
                            </form>
                            <span class="main--number">1</span>
                        </div>
                    </div>
                </div>
                <div class="swipper__buttons">
                    <div class="swiper-button-prev"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> </div>
                    <div class="swiper-button-next"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </div>
                </div>
            </div>
        </div>
</section>
</div>
</div>

<!-- Lightbox2 by Lokesh Dhakar licensed under The MIT License. https://lokeshdhakar.com/-->
<script src="js/app.js" type="module" defer></script>
<script src="js/load.js" type="module"></script>
<script src="js/lightbox-plus-jquery.min.js"></script>
<script src="js/carousel.js"></script>