<div class="container main__container">
    <section class="section__slider">
        <div class="swiper__container">
            <div class="swiper--wrapper">
                    <div class="swiper-slide-block">
                        <div class="swiper-slide-block-img slider">
                        </div>
                        <div class="swiper-slide-block-text">
                        </div>
                    </div>
                </div>
                <div class="swipper__buttons">
                    <div class="swiper-button-prev"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> </div>
                    <div class="swiper-button-next"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>

<!-- Lightbox2 by Lokesh Dhakar licensed under The MIT License. https://lokeshdhakar.com/-->
<script src="js/app.js" type="module" async></script>
<script src="js/load.js" type="module" defer></script>
<script src="js/lightbox-plus-jquery.min.js" async></script>
<script src="js/carousel.js"></script>